body {
  margin: 60px
}

header{
  object-fit: fill
}

footer{
  object-fit: fill
}
.formStyle{
 
    border-radius: solid 5px;
    background-color: gray;
    padding: 20px;
align-self: center  }

.carPhoto{ 
width: 20%;
height: 20%
}

.spanStyle{
  background-color: rgb(238, 214, 108)
}

#root {
  padding: 20px
}

.box{
  outline: solid 2px;
  outline-color: black;
background-color: rgba(236, 235, 233, 0.911);
  align-self: center
}

